@tailwind base;
@tailwind components;
@tailwind utilities;

#custom {
    color:red;
}

.container {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }